.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarea-input {
  min-width: 250px;
  max-width: 350px;
  font-size: 18px;
  background-color: #c9cdcf;
  padding: 14px 32px 14px 16px;
  border-radius: 2px;
  border: 2px solid #5607d4;
  outline: none;
}

.tarea-input::placeholder {
  color: rgb(29, 29, 29);
  font-weight: 700;
}

.tarea-boton {
  margin: 10px;
  padding: 14px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  background-color: #8a0bdf;
  color: #fff;
  text-transform: capitalize;
  border: 2px solid #5607d4;
}